<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
    <link href="
https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css
" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form action="/deletepost" method="post">
        <div>
            <label for="id" th:text="${idName}"></label>
            <input type="text" id="id" name="id" th:value="${id}" readonly>
        </div>
        <div>
            <label for="inputPassword" th:text="${inputPassword}"></label>
            <input type="text" id="inputPassword" name="inputPassword">
        </div>
        <div>
            <button type="submit" th:text="${deleteNotice}"></button>
        </div>
    </form>
</div>
</body>
</html>