<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit-Editor</title>
</head>
<body>
    <div class="container">
        <form th:action="@{'/editpost?number='+${post.number}}" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" th:value="${post.title}">
            </div>
            <div>
                <label for="author">Author</label>
                <input type="text" id="author" name="author" th:value="${post.author}">
            </div>
            <div>
                <label for="content">Content</label>
                <input type="text" id="content" name="content" th:value="${post.content}">
            </div>
            <div>
                <label for="passWord">passWord</label>
                <input type="text" id="passWord" name="passWord">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>