<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>editor-edit</title>
</head>
<body>
    <div class="container">
        <form action="/editpost" method="post">
            <div>
                <label for="id" th:text="${id}"></label>
                <input type="text" id="id" name="id" th:value="${post.id()}" readonly>
            </div>
            <div>
                <label for="title" th:text="${title}"></label>
                <input type="text" id="title" name="title" th:value="${post.title()}"
                       th:placeholder="${titleNotice}">
            </div>
            <div>
                <label for="content" th:text="${content}"></label>
                <input type="text" id="content" name="content" th:value="${post.content()}"
                       th:placeholder="${contentNotice}">
            </div>
            <div>
                <label for="password" th:text="${password}"></label>
                <input type="text" id="password" name="password" th:placeholder="${passwordNotice}">
            </div>
            <button type="submit" th:text="${submitNotice}"></button>
        </form>
    </div>
</body>
</html>