<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
    <form action="/edit-password-check" method="post">
        <div>
            <label for="id" th:text="${idName}"></label>
            <input type="text" id="id" name="id" th:value="${id}" readonly>
        </div>
        <div>
            <label for="inputPassword" th:text="${inputPassword}"></label>
            <input type="text" id="inputPassword" name="inputPassword">
        </div>
        <div>
            <button type="submit" th:text="${submitNotice}"></button>
        </div>
    </form>
</body>
</html>