<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>editor</title>
    <link href="
https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css
" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="/submitpost" method="post">
            <div>
                <label for="title" th:text="${title}"></label>
                <input type="text" id="title" name="title" th:placeholder="${titleNotice}">
            </div>
            <div>
                <label for="author" th:text="${author}"></label>
                <input type="text" id="author" name="author" th:placeholder="${authorNotice}">
            </div>
            <div>
                <label for="content" th:text="${content}"></label>
                <input type="text" id="content" name="content" th:placeholder="${contentNotice}">
            </div>
            <div>
                <label for="password" th:text="${password}"></label>
                <input type="password" id="password" name="password" th:placeholder="${passwordNotice}">
            </div>
            <button type="submit" th:text="${submitNotice}"></button>
        </form>
    </div>
</body>
</html>