<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <div class="container">
        <button><a href="/editor">write post</a> </button>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="posts : ${posts}">
                    <td th:text="${posts.number}"></td>
                    <td>
                        <a th:href="@{'/view?number=' + ${posts.number}}">
                            <span th:text="${posts.title}"></span>
                        </a>
                    </td>
                    <td th:text="${posts.author}"></td>
                    <td th:text="${posts.writtenDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>