<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link href="
https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css
" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/editor" th:text="${write}" role="button"></a>
        <table>
            <thead>
            <tr>
                <th th:text="${id}"></th>
                <th th:text="${title}"></th>
                <th th:text="${author}"></th>
                <th th:text="${writtenDate}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id()}"></td>
                <td>
                    <a th:href="${post.url()}">
                        <span th:text="${post.title()}"></span>
                    </a>
                </td>
                <td th:text="${post.author()}"></td>
                <td th:text="${post.writtenDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>