<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <div class="container">
        <button><a href="/editor">write post</a></button>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id()}"></td>
                <td>
                    <a th:href="${post.url()}">
                        <span th:text="${post.title()}"></span>
                    </a>
                </td>
                <td th:text="${post.author()}"></td>
                <td th:text="${post.writtenDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>