<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>viewer</title>
    <link href="
https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css
" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="list">
            <a th:href="'/'+${list}" th:text="${toList}" role="button"></a>
        </div>
        <div id="information">
            <div>
                <label th:text="${id}"></label>
                <span th:text="${post.id()}"></span>
            </div>
            <div>
                <label th:text="${title}"></label>
                <span th:text="${post.title()}"></span>
            </div>
            <div>
                <label th:text="${author}"></label>
                <span th:text="${post.author()}"></span>
            </div>
            <div>
                <label th:text="${writtenDate}"></label>
                <span th:text="${post.writtenDate()}"></span>
            </div>
        </div>
        <div>
            <span id="content" th:text="${post.content()}"></span>
        </div>
        <div id="buttons">
            <a th:href="${'/edit?id='+post.id()}" th:text="${editNotice}"
               role="button" class="secondary"></a>
            <a th:href="${'/delete?id='+post.id()}" th:text="${deleteNotice}"
               role="button" class="contrast"></a>
        </div>
    </div>
</body>
</html>